body {
  background-color: #fff5f7;
}

header h1 {
  color: rosybrown;
}

.breadcrumb {
  background-color: #fff5f7;
}

.img-thumbnail {
  width: 60px;
  height: 60px;
}

.nav-tabs .nav-link {
  color: #e83e8c;
}

.nav-tabs .nav-link.active {
  color: rosybrown;
  background-color: #fff5f7;
}

.btn-primary {
  background-color: grey;
  border-color: rosybrown;
}
#footer {
  margin-top: 5% !important;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th {
  width: 20%;
}
